.ButtonMain {
  font-family: var(--ff-roboto);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: -0.17000000178813934px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #bfbfbf;
  border-radius: 20rem;
  padding: 1.14rem 2rem;
}
.ButtonMain.noBor {
  border: none;
}
.ButtonMain.bg-yellow {
  background-color: #f9bb51;
  color: var(--white);
}
.ButtonMain.bg-blue {
  background-color: #1f3152;
  color: var(--white);
}
.inner-section {
  width: 96%;
  margin: 0 auto;
}

.SectionHeading {
  margin: 3rem auto;
  margin-top: 5rem;
}
.SectionHeading h6 {
  font-family: var(--ff-plus-jakarta);
  font-size: 8rem;
  font-weight: 500;
  line-height: 10rem;
  letter-spacing: -3.4560000896453857px;
  text-align: center;
  color: var(--black);
}
.SectionHeading h6 b {
  color: orange;
  font-weight: 500;
}

/* input */
.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.inputBox label {
  font-family: var(--ff-plus-jakarta);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.16rem;
  color: var(--black);
}
.inputBox input {
  width: 100%;
  border: 1px solid #e8e8e8;
  outline: none;
  font-family: var(--ff-poppins);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.25px;
  color: var(--black);
  padding: 1rem 1.6rem;
  background: #fafdff;
  border-radius: 1rem;
}

.heading2 {
  font-family: var(--ff-plus-jakarta);
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: left;
  color: #202124;
}

/* table style */
.table-wrapper,
.table-wrapper table {
  width: 100%;
}
.table-wrapper {
  display: flex;
  gap: 2rem;
}
.table-wrapper table.w50 {
  width: 50%;
}
.table-wrapper table.bdr,
.table-wrapper table.bdr th,
.table-wrapper table.bdr td {
  border: 0.9px solid #ccdcff;
  border-collapse: collapse;
}

.table-wrapper table thead th {
  padding: 1rem;
  background-color: #1f3152;
  color: var(--white);
  font-family: var(--ff-arial);
  font-size: 1.44rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-align: left;
  text-wrap: nowrap;
}
.table-wrapper table tbody td {
  padding: 1rem;
  font-family: var(--ff-plus-jakarta);
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #4d5156;
}
.table-wrapper table tbody tr {
  border-bottom: 0.9px solid #ccdcff;
}
.table-wrapper table tbody tr:last-child {
  border-bottom: none;
}

.TopCourseCard {
  min-width: 40.4rem;
  width: 40.4rem;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.TopCourseCard .top {
  background-color: #1f3152;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  padding: 1.2rem 0;
}
.TopCourseCard .top .logo {
  min-width: 6.38rem;
  width: 6.38rem;
}
.TopCourseCard .top h5.name {
  color: var(--white);
  font-family: var(--ff-plus-jakarta);
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 4.8rem;
}
.TopCourseCard .center {
  padding: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.TopCourseCard .center .keyValues {
  width: 100%;
  display: flex;
}

.TopCourseCard .center .keyValues .key {
  width: 100%;
}

.TopCourseCard .center .keyValues .value {
  width: 40%;
}

.TopCourseCard .center .keyValues .key,
.TopCourseCard .center .keyValues .value {
  text-wrap: nowrap;
  font-family: var(--ff-plus-jakarta);
  font-size: 1.624rem;
  font-weight: 600;
  line-height: 2.32rem;
}

.TopCourseCard .center .keyValues .value {
  text-align: right;
}
.TopCoursesSlider.even
  .right-wrapper
  .slider-wrapper
  .TopCourseCard
  .center
  .keyValues:nth-child(1)
  .value,
.TopCoursesSlider.even
  .right-wrapper
  .slider-wrapper
  .TopCourseCard
  .center
  .keyValues:nth-child(2)
  .value {
  color: #099250;
}
.TopCourseCard .btm {
  padding: 1.4rem;
  width: 100%;
}

.TopCourseCard .btm .keyValues {
  padding: 1.2rem 0;
  border-top: 1.5px solid #0000001a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--ff-plus-jakarta);
  font-size: 2.32rem;
  font-weight: 500;
  line-height: 2.92rem;
  color: var(--black);
}

@media (max-width:799px) {
  .SectionHeading h6 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
    letter-spacing: -1.456px;
  }
  .table-wrapper{
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  
}