.FaqSection .inner-wrapper .accordion {
  border: none;
  width: 60%;
  margin: 0 auto;
}
.FaqSection .inner-wrapper .accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #00000014;
  padding: 2rem 4rem;
}
.FaqSection .inner-wrapper .accordion-button {
  font-family: var(--ff-plus-jakarta);
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.8rem;
  letter-spacing: -0.8399999737739563px;
  color: var(--black);
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
}
.FaqSection .inner-wrapper .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.FaqSection .inner-wrapper .accordion-button::after {
  display: none;
}

.FaqSection .inner-wrapper .accordion .accordion-item.show {
  box-shadow: 0px 40px 35px 0px #00000016;
  border-radius: 2rem;
  z-index: 9;
  position: relative;
}

.FaqSection .inner-wrapper .accordion .accordion-body{
    font-family: var(--ff-plus-jakarta);
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
    color: var(--black);
}

@media (max-width:799px) {
  .FaqSection .inner-wrapper{
    padding: 0 2rem;
  }
  .FaqSection .SectionHeading{
    margin-top: 0;
  }
  .FaqSection .inner-wrapper .accordion{
    width: 100%;
  }
  .FaqSection .inner-wrapper .accordion .accordion-item {
    padding: 2rem;
  }
  .FaqSection .inner-wrapper .accordion-button {
    font-size: 2rem;
    line-height: 2.8rem;
    padding: 1.2rem 0;
  }
  .FaqSection .inner-wrapper .accordion .accordion-body {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1.2rem 0;
  }
  
}