.HeroSection .inner-section {
  background: #1f3152d4;
  border-radius: 3rem;
  min-height: 74.7rem;
  position: relative;
}
.HeroSection .inner-section .top-inner {
  padding: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .HeroSection .inner-section .top-inner .left-wrapper {
  width: 60%;
} */
.HeroSection .inner-section .top-inner .left-wrapper .subtitle {
  font-family: var(--ff-plus-jakarta);
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 10.56rem;
  letter-spacing: -2.880000114440918px;
  color: var(--white);
  text-wrap: nowrap;
}
.HeroSection .inner-section .top-inner .left-wrapper .title {
  font-family: var(--ff-plus-jakarta);
  font-size: 26.2rem;
  font-weight: 500;
  line-height: 33.02rem;
  letter-spacing: -2.880000114440918px;
  color: var(--white);
  text-wrap: nowrap;
  user-select: none;
}
.HeroSection .inner-section .top-inner .left-wrapper .title span:hover {
  /* box-shadow: 0px 0px 10px 0px #00000040; */
  text-shadow: #00000040 1px 0 10px;
  transition: all 0.3s ease-in-out;
}
.HeroSection
  .inner-section
  .top-inner
  .left-wrapper
  .title
  span:nth-child(1):hover {
  color: #ff671f;
}
.HeroSection
  .inner-section
  .top-inner
  .left-wrapper
  .title
  span:nth-child(2):hover {
  color: #06038d;
}
.HeroSection
  .inner-section
  .top-inner
  .left-wrapper
  .title
  span:nth-child(3):hover {
  color: #046a38;
}
.HeroSection .inner-section .top-inner .left-wrapper .ButtonMain {
  border: 2px solid #3452ff;
  color: var(--white);
}
.HeroSection .inner-section .top-inner .right-wrapper {
  width: 40%;
  padding-left: 1.5rem;
  height: fit-content;
}
.HeroSection .inner-section .top-inner .right-wrapper .right-para {
  font-family: var(--ff-heebo);
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 3.8rem;
  letter-spacing: 0.03em;
  text-align: justify;
  color: var(--white);
  transition: all 0.3s ease-in;
  text-wrap: nowrap;
}
.HeroSection .inner-section .top-inner .right-wrapper .right-para.hoveredLine {
  font-weight: 300;
  letter-spacing: 0.01em;
  transition: all 0.3s ease-out;
}
.HeroSection .inner-section .btm-inner {
  font-family: var(--ff-inter);
  font-size: 9rem;
  font-weight: 700;
  line-height: 10.8rem;
  letter-spacing: -0.03em;
  color: var(--white);
  position: absolute;
  bottom: -2.4rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #1f3152d4, 0 8px 0 #1f3152d4,
    0 4px 0 #1f3152d4, 0 5px 0 #1f3152d4, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

@media (max-width: 1599px) {
  .HeroSection .inner-section .btm-inner {
    font-size: 8.4rem;
  }
}

@media (max-width: 799px) {
  .HeroSection .inner-section .btm-inner {
    font-size: 2rem;
    bottom: -4.6rem;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #1f3152d4, 0 4px 0 #1f3152d4,
      0 4px 0 #1f3152d4, 0 5px 0 #1f3152d4, 0 6px 1px rgba(0, 0, 0, 0.1),
      0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
      0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  }
  .TopCollegeCourse .tab-wrapper .top-course-Tab,
  .HeroSection .inner-section .top-inner {
    flex-direction: column;
  }
  .HeroSection .inner-section .top-inner {
    padding: 4rem;
  }
  .HeroSection .inner-section .top-inner .left-wrapper .title {
    font-size: 10rem;
    line-height: 14rem;
  }
  .HeroSection .inner-section .top-inner .left-wrapper .subtitle {
    font-size: 3rem;
    line-height: 4.56rem;
    letter-spacing: -0.280000114440918px;
  }
  .HeroSection .inner-section .top-inner .left-wrapper,
  .HeroSection .inner-section .top-inner .right-wrapper {
    width: 100%;
  }
  .HeroSection .inner-section .top-inner .right-wrapper {
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 2rem;
  }
  .HeroSection .inner-section .top-inner .right-wrapper .right-para {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  .HeroSection .inner-section {
    min-height: fit-content;
  }
}
