.TopCoursesSlider {
  display: flex;
  gap: 3rem;
  width: 100%;
  margin-top: 8rem;
}
.TopCoursesSlider.even {
  flex-direction: row-reverse;
}
.TopCoursesSlider .left-wrapper .SectionHeading h6 {
  font-size: 6rem;
  line-height: 7.56rem;
  text-align: left;
}
.TopCoursesSlider .left-wrapper {
  padding-left: 10%;
  width: 50%;
}
.TopCoursesSlider .left-wrapper .para {
  font-family: var(--ff-plus-jakarta);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.68rem;
  text-align: justify;
  color: #3a4963;
}
.TopCoursesSlider .left-wrapper .learnMore {
  background: #1f3152;
  font-family: var(--ff-montserrat);
  font-size: 1.78rem;
  font-weight: 700;
  line-height: 2.17rem;
  color: var(--white);
  padding: 1.5rem 4rem;
  border-radius: 1.1rem;
  margin-top: 2rem;
}
.TopCoursesSlider.even .left-wrapper {
  padding-left: 0;
  padding-right: 10%;
}
.TopCoursesSlider .right-wrapper {
  width: 50%;
}
.TopCoursesSlider .right-wrapper .slider-wrapper {
  width: 100%;
  display: flex;
  gap: 1.4rem;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 0.8rem;
}

.TopCoursesSlider .right-wrapper .slider-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.TopCoursesSlider .right-wrapper .slider-navigation button {
  color: #1f3152e5;
  font-size: 2rem;
}

@media (max-width: 799px) {
  .TopCoursesSlider.even,
  .TopCoursesSlider {
    flex-direction: column;
  }
  .TopCoursesSlider {
    margin-top: 0;
    padding: 0 2rem;
  }
  .TopCoursesSlider .left-wrapper {
    width: 100%;
    padding-left: 0;
  }
  .TopCoursesSlider.even .left-wrapper{
    padding-right: 0;
  }
  .TopCoursesSlider .right-wrapper {
    width: 100%;
  }
  .TopCourseCard {
    min-width: 33.4rem;
    width: 33.4rem;
  }
  .TopCourseCard .top h5.name {
    font-size: 2rem;
  }
  .TopCourseCard .top .logo {
    min-width: 5rem;
    width: 5rem;
  }
  .TopCourseCard .btm .keyValues {
    font-size: 1.8rem;
  }
  .TopCoursesSlider .left-wrapper .SectionHeading {
    margin-top: 1rem;
  }
  .TopCoursesSlider .left-wrapper .SectionHeading h6 {
    font-size: 4rem;
    line-height: 4.56rem;
    text-align: center;
  }
}
